body{
	margin: 20px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p,
blockquote,
ul{
	align-self: flex-start;
}

h1 {
	border-bottom:  3px solid black;
}

h2 {
	border-bottom: 1px solid black;
  	padding-bottom: 12px;
}
