h1 {
	border-bottom: none;
}

h2 {
	border-bottom: 1px solid black;
  	padding-bottom: 12px;
}
p:has(img){}
p img{
	width: 100px;
	border-radius: 20px;
	float: inline-end
}

#skills ~ ul:first-of-type {
	background-color: aqua;
}